
@{
    ViewBag.Title = "Submitter";
}

<h2>Submitter : @ViewBag.Email</h2>


<ol>
    <li>
        @Html.ActionLink("MyProjects", "MyProjectsDS")
    </li>
    <li>
        @Html.ActionLink("MyTickets", "MyTickets")
    </li>
</ol>

